<p>
  Displaying {{ todos.length }} TODOs.
</p>

<table>
  <thead>
  <tr>
    <th data-field="name">ID</th>
    <th data-field="name">Content</th>
    <th data-field="name">Edit</th>
    <th data-field="name">Delete</th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{ todo.id }}</td>
      <td>{{ todo.content }}</td>
      <td>
        <a [routerLink]="['/todos', todo.id]">
          <i class="material-icons">mode_edit</i>
        </a>
      </td>
      <td>
        <a (click)="deleteTodo(todo)" [routerLink]="['/todos']">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large waves-effect waves-light green"
     routerLink="/todos/new">
    <i class="material-icons">add</i>
  </a>
</div>
