<h5>{{ title }}</h5>
<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>

        <input [attr.readonly]="true" *ngIf="edit" id="id" type="text"
        [(ngModel)]="todo.id" formControlName="id" >

        <input *ngIf="!edit" id="id" type="text" class="validate"
               [(ngModel)]="todo.id" formControlName="id"
               [class.invalid]="form.controls['id'].touched && !form.controls['id'].valid"
        >
        <label *ngIf="!edit" for="id"
               [class.active]="todo.id"
               data-error="Id is required and needs to contain at least 1 chars">
          ID
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="content" type="text" class="validate"
               [(ngModel)]="todo.content" formControlName="content"
               [class.invalid]="form.controls['content'].touched && !form.controls['content'].valid"
        >
        <label for="content"
               [class.active]="todo.content"
               data-error="Content is required and needs to contain at least 3 chars">
          Content
        </label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit"
            [disabled]="!form.valid">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>
